* {
    margin: 0;
    padding: 0;
}

div {
    width: 300px;
    border: 1px rgb(218, 217, 217) solid;
    margin: auto;
}

.paren {
    height: 160px;
    background-color: black;
}

.paren p {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 68px;
    letter-spacing: 1px;
}

.under {
    background-color: rgb(219, 203, 203);
    height: 240px;

}

.under span {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
    display: block;
    height: 33%;
    padding-left: 30px;


}

.under p {
    color: gray;
    padding-top: 3px;
}

.under hr {
    width: 80%;
    margin: auto;
}